#piano {
    width: 1000px;
    height: 250px;
    background-color: black;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#piano-cover{
    background-image:url(image.png);
    background-size: cover;
}
.sharp{
    background-color: grey;
    z-index: 2;
    height: 75px;
    width: auto;
    position: absolute;
    top: 75px;
}
.normal{
    background-color: white;
    z-index: 1;
    height: 100px;
    width: 30px;
    text-align: bottom;
}
button{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
#piano.normal{
    display: flex;
    justify-content: center;
    top: 40px;
    right: 30px;
    justify-content: center;
    align-items: center;
}
